<a href="https://colab.research.google.com/github/dfu2020/ATMS-597-SP-2020/blob/master/Project_2_Group_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **The first few boxes I am just trying to work on using a class and pass in the input variables..., feel free to remove them if you find it disturbing.**

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import math 
import datetime
import requests
from IPython import display # for updating the cell dynamically

In [0]:
class download_data:
  def __init__(self,start_year, start_month,start_day,end_year,end_month,end_day,station_id):
    self.start_year = start_year     
    self.start_month = start_month
    self.start_day = start_day
    self.end_year = end_year     
    self.end_month = end_month
    self.end_day = end_day
    self.station_id = station_id
  def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
        headers={
            'token': 'UZdWJQdqeSTqhkXeOlNYMGzbwUkFJAeh'
        },
        params=payload
    )
  def write_to_pandas(self):
    current = datetime.date(self.start_year, self.start_month, self.start_day)
    end = datetime.date(self.end_year, self.end_month, self.end_day)

    results = []

    while current < end:
        # update the cell with status information
        display.clear_output(wait=True)
        display.display(f'Gathering data for {str(current)}')
        
        response = make_request(
            'data', 
            {
                'datasetid' : 'GHCND', # Global Historical Climatology Network - Daily (GHCND) dataset
                'stationid' : self.station_id, # NYC
                'startdate' : current,
                'enddate' : current,
                'units' : 'metric',
                'limit' : 1000 # max allowed
            }
        )

        if response.ok:
            # we extend the list instead of appending to avoid getting a nested list
            results.extend(response.json()['results'])

        # update the current date to avoid an infinite loop
        current += datetime.timedelta(days=1)
    
    df = pd.DataFrame(results)
    return df

In [147]:
h=download_data(2001,2,1,2001,2,4,'GHCND:ASN00009871').write_to_pandas()

'Gathering data for 2001-02-03'

In [148]:
h

                  date datatype            station attributes  value
0  2001-02-01T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    2.2
1  2001-02-01T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   20.7
2  2001-02-01T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   14.8
3  2001-02-02T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    0.0
4  2001-02-02T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   22.5
5  2001-02-02T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   10.9
6  2001-02-03T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    0.0
7  2001-02-03T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   25.3
8  2001-02-03T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   11.3

# **Here is downloading the data and saving it to pandas dataframe, start from here:**

In [0]:
import requests
def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
        headers={
            'token': 'UZdWJQdqeSTqhkXeOlNYMGzbwUkFJAeh'
        },
        params=payload
    )

In [0]:
import datetime
from IPython import display

current = datetime.date(2002, 1, 1)
end = datetime.date(2002, 2, 20)

results = []

while current < end:
    # update the cell with status information
    response = make_request(
        'data', 
        {
            'datasetid' : 'GHCND', # Global Historical Climatology Network - Daily (GHCND) dataset
            'stationid' : 'GHCND:ASN00009871', # NYC
            'startdate' : current,
            'enddate' : current,
            'units' : 'metric',
            'limit' : 1000 # max allowed
        }
    )

    if response.ok:
        # we extend the list instead of appending to avoid getting a nested list
        results.extend(response.json()['results'])

    # update the current date to avoid an infinite loop
    current += datetime.timedelta(days=1)

In [153]:
df = pd.DataFrame(results)
df

                    date datatype            station attributes  value
0    2002-01-01T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    0.0
1    2002-01-01T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   21.5
2    2002-01-01T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   15.9
3    2002-01-02T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    0.0
4    2002-01-02T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   21.5
..                   ...      ...                ...        ...    ...
119  2002-02-17T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   21.5
120  2002-02-17T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   13.9
121  2002-02-18T00:00:00     PRCP  GHCND:ASN00009871       ,,a,    0.0
122  2002-02-18T00:00:00     TMAX  GHCND:ASN00009871       ,,a,   24.7
123  2002-02-18T00:00:00     TMIN  GHCND:ASN00009871       ,,a,   11.3

[124 rows x 5 columns]